<div class="container-fluid">
	<div class="row">
	    <div class="col-lg-12">
	        <h1 class="page-header">Formularios existentes</h1>
	        <p>En esta seccion puede revisar los formularios existentes, en general. Puede borrar formularios, pero los datos de respuestas quedaran guardados, de la misma manera, puede revisar la estructura y los campos que tienen mas no puede modificarlos, pues podrian perderse datos existentes. Si desea cambiar un formulario se recomienda <strong>eliminarlo</strong> y luego <strong>crear uno nuevo</strong>, de esta manera se garantiza la consistencia de los datos ya existentes.</p>
	    </div> 
		<div class="col-lg-12">
	        <table class="table table-bordered table-striped">
	            <thead>
	                <tr>
	                    <th>Nombre</th>
	                    <th>Fecha de creacion</th>
	                    <th>Opciones</th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr ng-repeat="form in pagedItems[currentPage]">
	                    <th>{{ form.name }}</th>
	                    <th>
	                    	{{ form.created_at.getDate() }}/{{ form.created_at.getMonth()+1 }}/{{ form.created_at.getFullYear() }}
	                    </th>
	                    <td>
							<button class="btn btn-info btn-sm"  ui-sref="dashboard.form-instances({formId:form.id})">Ver respuestas</button>
							<button class="btn btn-success btn-sm" ui-sref="dashboard.form-structure({formId:form.id})">Ver estructura</button>
							<button class="btn btn-danger btn-sm" ng-click="deleteForm(form.id)">Eliminar</button>
	                	</td>
	                </tr>
	            </tbody>
	        </table>

	        <div class="col-lg-12">
	        	<span class="pull-left">Mostrando {{ pagedItems[currentPage].length }} resultados de {{ forms.length }}</span>
	        	<button class="btn btn-default btn-md pull-right" ng-click="nextPage()">Siguiente &rarr;</button>
	        	<button class="btn btn-default btn-md pull-right" ng-click="prevPage()">&larr; Anterior</button>
	        	<div class="clearfix"></div>
	        </div>			
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
</div>